* { box-sizing: border-box; }

body { background-color: hsl(217, 54%, 11%);
	 font-family: "Outfit";
	 color: white;
	 margin: 0;
}

#wrapper {  background-color: hsl(216, 50%, 16%);
		font-size: 18px;
		padding: 20px;
		margin-right: auto; /* 1 */
  		margin-left:  auto; /* 1 */
		margin-top: 50px;
		margin-bottom: 50px;
	      max-width: 688px;
		border-radius: 30px;
   		font-family: "Outfit";
} 


header { text-align: center; 
}

.text { margin: 10px;
}

.boxed {
  border: 1px solid white;
}

textarea, iframe{ display: block;
        		margin: 10px 0;
}

iframe{ color:white;}

myframe { color: white;
}

footer {font-size:70%;
	  color: hsl(0, 0%, 100%);
         text-align: center;
         padding: 10px;
	   clear: both;
}